body {
    margin: 0 auto;
    width: 940px;
    font: 13px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
}

#logo {
position:absolute;
top: 10px;
right: 5px;
}

ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
}

ul li.remark a{
    font-weight: bolder;
}

ul li a:hover {
    background: rgb(161, 194, 212);
}

.copyright{
    font-style: italic;
}
.copyright::after {
    content:" \00a9";
}

footer {
    font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}