body {
    margin: 0 auto;
    width: 940px;
    font: 13px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
}

#logo {
position:absolute;
top: 10px;
right: 5px;
}

ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
}

ul li.remark a{
    font-weight: bolder;
}

ul li a:hover {
    background: rgb(161, 194, 212);
}

.copyright{
    font-style: italic;
}
.copyright::after {
    content:" \00a9";
}